<div class="container-fluid">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bookreaper-navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">BookReaper</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bookreaper-navbar">

                <ul class="nav navbar-nav navbar-left">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="category">By Title <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li onclick="changeCategory('By Title')"><a href="#">By Title</a></li>
                            <li onclick="changeCategory('By Author')"><a href="#">By Author</a></li>
                            <li onclick="changeCategory('By Publisher')"><a href="#">By Publisher</a></li>
                            <li onclick="changeCategory('By ISBN')"><a href="#">By ISBN</a></li>
                        </ul>
                    </li>
                </ul>

                <form class="navbar-form navbar-left" id="searchForm" onsubmit="callSearch();return false;">
                    <div class="form-group has-feedback has-feedback-right">

                        <input type="text" class="form-control" placeholder="Search" id="searchKeyword">
                        <i class="form-control-feedback glyphicon glyphicon-search"></i>
                    </div>

                </form>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" class="glyphicon glyphicon-info-sign"></a></li>
                    <li><a href="#" class="glyphicon glyphicon-shopping-cart"><span class="badge">{{cartcount}}</span></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.name}} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Acount</a></li>
                            <li><a href="#">Orders</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container-fluid">
        <div class="row vdivide">
            <div class="col-sm-2">
                <ul class="nav nav-pills nav-stacked">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Genres <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li onclick="submitFilter('Horror');"><a href="#">Horror</a></li>
                            <li onclick="submitFilter('Thriller');"><a href="#">Thriller</a></li>
                            <li onclick="submitFilter('Romantic');"><a href="#">Romantic</a></li>
                            <li onclick="submitFilter('Comedy');"><a href="#">Comedy</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/">All</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ratings <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">5</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">1</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-sm-10">
                <div class="alert alert-success alert-message" role="alert" id="alertMessage">
                    <strong>Added to Cart!</strong>
                </div>
                <div class="col-sm-3">
                    <div class="book-thumbnail-main panel-body thumbnail" style="background-image: url('{{imagelink}}')">

                        <div class="panel-default-overlay-up">

                        </div>
                        <div class="caption-up">
                            <a class="btn btn-primary" onclick="addToCart('{{_id}}')">Add to Cart</a>
                            {{#if readOnline}}
                                <a class="btn btn-success">Read Online</a>
                            {{/if}}

                        </div>

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="book-title-main"><h4>{{title}}</h4></div>
                    <div class="book-author-main"><h5>{{author}}</h5></div>
                    <div class="book-price-main"><h5>$ {{price}}</h5></div>

                    <div class="panel panel-primary">
                        <div class="panel-heading"><strong>Add Review</strong></div>
                        <div class="panel-body">
                            <form method="post" action="/book/review">
                                <div class="form-group">
                                    <textarea class="form-control" id="reviewComment" placeholder="Add a review" name="reviewComment"></textarea>
                                </div>
                                <div class="form-group">
                                    <div class="btn-group" data-toggle="buttons">
                                        <label class="btn btn-success active">
                                            <input type="radio" name="rating" id="option1" autocomplete="off" checked value="5"> 5
                                        </label>
                                        <label class="btn btn-primary">
                                            <input type="radio" name="rating" id="option2" autocomplete="off" value="4"> 4
                                        </label>
                                        <label class="btn btn-info">
                                            <input type="radio" name="rating" id="option3" autocomplete="off" value="3"> 3
                                        </label>
                                        <label class="btn btn-warning">
                                            <input type="radio" name="rating" id="option4" autocomplete="off" value="2"> 2
                                        </label>
                                        <label class="btn btn-danger">
                                            <input type="radio" name="rating" id="option5" autocomplete="off" value="1"> 1
                                        </label>
                                    </div>
                                </div>

                                    <input type="hidden" value="{{isbn}}" name="isbn">

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary" >Submit Review</button>
                                </div>
                            </form>

                        </div>
                    </div>
                    {{#each reviews}}
                    <div class="panel panel-primary">
                        <div class="panel-heading">Posted By: <strong>{{reviewBy}}</strong>
                            <label class="badge badgeRating">{{rating}}</label>
                        </div>
                        <div class="panel-body">
                            {{comment}}
                        </div>
                    </div>
                    {{/each}}
                </div>
                <div class="col-sm-3">
                    <button type="button" class="btn btn-primary btn-block"  onclick="addToCart('{{_id}}')">Add to Cart</button>
                    {{#if readOnline}}
                        <button type="button" class="btn btn-success btn-block">Read Online</button>
                    {{else}}
                        <button type="button" class="btn btn-success btn-block">Buy Now</button>
                    {{/if}}
                </div>

            </div>
        </div>
    </div>
    <div class="hiddenForm">
        <form method="post" action="/shop" id="filterForm">
            <input type="text" id="filter" name="filter" value=""/>
            <input type="text" id="criteria" name="criteria" value="title"/>
        </form>
        <form method="post" action="/shop/addtocart" id="addtocartForm">
            <input type="text" id="bookId" name="bookId" value=""/>
        </form>
    </div>
</div>